# Typescript and node
dist
build
node_modules

# Mac
.DS_Store

# Vim
*.swp

# Hardhat
artifacts
cache

# Used by upgrades plugin
.openzeppelin/unknown-31337.json

# Deployment testing
deployment/hardhat/

# Manually placed temporary files
ignored/